doctype html
html(lang='en' ng-app='app', ng-controller='AppCtrl as app')
  head
    meta(charset='UTF-8')
    title Angular Condition Visualizer
  body
    span(ng-bind='app.body')
    ng-include(src='"viz/viz.tpl.jade"')
