@import '../../lib/ng-condviz.css';

//.condviz-block {
//  border: none;
//  position: relative;
//  > .condviz-block {
//    padding: 0 0 0 15px;
//  }
//}
//.condviz-block-data {
//  height: 25px;
//  line-height: 25px;
//}
//
//.condviz-block {
//  > .condviz-block::before {
//    border-top: solid 1px;
//    content: '';
//    position: absolute;
//    left: 0;
//    top: 50%;
//    width: 10px;
//  }
//  > .condviz-block::after {
//    border-left: solid 1px;
//    content: '';
//    position: absolute;
//    left: 0;
//    top: 0;
//    bottom: 0;
//  }
//}
//
//.condviz-block-and {
//  > .condviz-block::before, > .condviz-block::after {
//    border-color: red;
//  }
//}
//
//.condviz-block-or {
//  > .condviz-block::before, > .condviz-block::after {
//    border-color: green;
//    border-style: dashed;
//    border-width: 1px;
//  }
//}
//
//.condviz-block-and, .condviz-block-or {
//  > .condviz-block:first-child::after {
//    top: 50%;
//  }
//
//  > .condviz-block:last-child::after {
//    bottom: 50%;
//  }
//}
//
//.condviz-action {
//
//}
//.condviz-action.condviz-and {
//  color: red;
//}
//.condviz-action.condviz-or {
//  color: green;
//}
//.condviz-data {
//
//}
